lower_bound
ma
mstd
qty
qty_new
refined_qty
smooth
stable
unstable
upper_bound

In [5]:
# Import
import pandas as pd
import numpy as np
import math
import pandas as pd 
import seaborn as sns
%matplotlib inline

import pandas as pd
from sqlalchemy import create_engine

# Data Load

In [9]:
engine_gres = create_engine('postgresql://postgres:admin@10.184.9.185:5432/postgres')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM test_amt_table', engine_gres) 
selloutData.head(10)

selloutData.columns = selloutData.columns.astype(str).str.upper()
selloutData.head()

  store_nm      date time tr_tm     amt tr_cnt
0      ﻿VK  20180903   11    14   18500      1
1       VK  20180903   11    15    7800      1
2       VK  20180903   15     1   14500      1
3       VK  20180903   15     2  -14500     -1
4       VK  20180903   15     3   55000      1

In [13]:
selloutData["yyyymm"] = selloutData["date"].astype(str).str[:6]

In [16]:
selloutData.head()

  store_nm      date time tr_tm     amt tr_cnt  yyyymm
0      ﻿VK  20180903   11    14   18500      1  201809
1       VK  20180903   11    15    7800      1  201809
2       VK  20180903   15     1   14500      1  201809
3       VK  20180903   15     2  -14500     -1  201809
4       VK  20180903   15     3   55000      1  201809

In [19]:
def refining(df):
    if int(df['amt']) < 0:
        return '0'
    else:
        return df['amt']
    
selloutData["amt_new"] = selloutData.apply(refining, axis=1)
selloutData.head()

  store_nm      date time tr_tm     amt tr_cnt  yyyymm amt_new
0      ﻿VK  20180903   11    14   18500      1  201809   18500
1       VK  20180903   11    15    7800      1  201809    7800
2       VK  20180903   15     1   14500      1  201809   14500
3       VK  20180903   15     2  -14500     -1  201809       0
4       VK  20180903   15     3   55000      1  201809   55000

# 연도 및 주차 정보 넣기

In [21]:
selloutData["year"] = selloutData["date"].astype(str).str[0:4]
selloutData.sort_values(["year"], ascending=True)
selloutData.head(10)

  store_nm      date time tr_tm     amt tr_cnt  yyyymm amt_new  year
0      ﻿VK  20180903   11    14   18500      1  201809   18500  2018
1       VK  20180903   11    15    7800      1  201809    7800  2018
2       VK  20180903   15     1   14500      1  201809   14500  2018
3       VK  20180903   15     2  -14500     -1  201809       0  2018
4       VK  20180903   15     3   55000      1  201809   55000  2018
5       VK  20180903   15     4  -55000     -1  201809       0  2018
6       VK  20180903   15     5   88900      1  201809   88900  2018
7       VK  20180903   15     6  -88900     -1  201809       0  2018
8       VK  20180903   15     7   55000      1  201809   55000  2018
9       VK  20180903   15     8  -55000     -1  201809       0  2018

# 이동평균 구하기

In [22]:
sortedData = selloutData.sort_values(["store_nm","date","time","tr_tm"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

period = 7

In [23]:
def ma_rolling(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["ma"] = basicData["amt_new"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData
#bascData.head(2)
sortedData = sortedData.groupby(["store_nm","date","time","tr_tm"]).apply(ma_rolling, period)
sortedData.head(3)

                               store_nm      date time tr_tm     amt tr_cnt  \
store_nm date     time tr_tm
VK       20180903 11   15    0       VK  20180903   11    15    7800      1
                  15   1     0       VK  20180903   15     1   14500      1
                       2     0       VK  20180903   15     2  -14500     -1

                                yyyymm amt_new  year       ma
store_nm date     time tr_tm
VK       20180903 11   15    0  201809    7800  2018   7800.0
                  15   1     0  201809   14500  2018  14500.0
                       2     0  201809       0  2018      0.0

# 표준편차 구하기

In [18]:
def sub_func(data, term):
    data["STD"] = data["amt_new"].rolling(window=term,center=True,min_periods=1).std()
    return data

sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func, period)
sortedData.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201
                   1  593.200000   73.984458
                   2  564.833333   95.952940
                   3  542.285714  105.977536
                   4  499.857143  109.908187
                   5  470.000000   76.417712
                   6  464.285714   68.031155
                   7  441.000000   68.881541
                   8  417.571429   66.984718
                   9  407.714286   71.008718

# UPPER/LOW BOUND

In [19]:
sortedData["UPPER"] = sortedData["MA"].astype(float) +  sortedData["STD"].astype(float)
sortedData["LOW"] = sortedData["MA"].astype(float) -  sortedData["STD"].astype(float)
sortedData.head(3)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03

                              MA        STD       UPPER         LOW
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000  69.390201  681.890201  543.109799
                   1  593.200000  73.984458  667.184458  519.215542
                   2  564.833333  95.952940  660.786273  468.880393

# 값 대체

In [20]:
sortedData["REFINED_QTY"] =  np.where(sortedData["QTY_NEW"] < sortedData["LOW"], sortedData["LOW"],\
                           np.where(sortedData["QTY_NEW"] > sortedData["UPPER"], sortedData["UPPER"],\
                           sortedData["QTY_NEW"],\
                                ))
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000
                   1   667.184458
                   2   578.000000
                   3   532.000000
                   4   516.000000
                   5   423.000000
                   6   407.000000
                   7   372.118459
                   8   470.000000
                   9   478.723004

# 스무딩

In [21]:
speriod = 5
def smooth(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["SMOO"] = basicData["REFINED_QTY"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData

sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(smooth, speriod)
sortedData.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  import sys

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03

                              MA        STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000  69.390201  681.890201  543.109799
                   1  593.200000  73.984458  667.184458  519.215542
                   2  564.833333  95.952940  660.786273  468.880393

                      REFINED_QTY        SMOO
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819
                   1   667.184458  609.546114
                   2   578.000000  590.836892

# 계절성 지수(안정/불안)

In [22]:
# 안정
sortedData["STABLE_SEASON"] =  sortedData["QTY"]/sortedData["SMOO"]
                           
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY        SMOO  STABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298
                   1   667.184458  609.546114       1.113944
                   2   578.000000  590.836892       0.978273
                   3   532.000000  543.236892       0.979315
                   4   516.000000  491.200000       1.050489
                   5   423.000000  450.023692       0.939951
                   6   407.000000  437.623692       0.930023
                   7   372.118459  430.168293       0.846180
                   8   470.000000  419.368293       1.120733
                   9   478.723004  408.368293       1.317438

In [23]:
# 불안정
sortedData["UNSTABLE_SEASON"] =  sortedData["QTY_NEW"]/sortedData["SMOO"]
                           
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY        SMOO  STABLE_SEASON  UNSTABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298         1.040298
                   1   667.184458  609.546114       1.113944         1.113944
                   2   578.000000  590.836892       0.978273         0.978273
                   3   532.000000  543.236892       0.979315         0.979315
                   4   516.000000  491.200000       1.050489         1.050489
                   5   423.000000  450.023692       0.939951         0.939951
                   6   407.000000  437.623692       0.930023         0.930023
                   7   372.118459  430.168293       0.846180         0.846180
                   8   470.000000  419.368293       1.120733         1.120733
                   9   478.723004  408.368293       1.317438         1.317438

In [24]:
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY        SMOO  STABLE_SEASON  UNSTABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298         1.040298
                   1   667.184458  609.546114       1.113944         1.113944
                   2   578.000000  590.836892       0.978273         0.978273
                   3   532.000000  543.236892       0.979315         0.979315
                   4   516.000000  491.200000       1.050489         1.050489
                   5   423.000000  450.023692       0.939951         0.939951
                   6   407.000000  437.623692       0.930023         0.930023
                   7   372.118459  430.168293       0.846180         0.846180
                   8   470.000000  419.368293       1.120733         1.120733
                   9   478.723004  408.368293       1.317438         1.317438

# DB 저장(PostGres)

In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [26]:
# DB:PW, pip install psycopg2
engine_gres = create_engine('postgresql://postgres:admin@10.184.9.185:5432/postgres')

In [30]:
sortedData.columns = sortedData.columns.astype(str).str.upper()
sortedData.head()

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956

                      REFINED_QTY        SMOO  STABLE_SEASON  UNSTABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298         1.040298
                   1   667.184458  609.546114       1.113944         1.113944
                   2   578.000000  590.836892       0.978273         0.978273
                   3   532.000000  543.236892       0.979315         0.979315
                   4   516.000000  491.200000       1.050489         1.050489

In [31]:
from sqlalchemy import types

In [33]:
# 데이터 저장
resultname='mini_result'
to_varchar = {c:types.VARCHAR(sortedData[c].str.len().max()) \
        for c in sortedData.columns[sortedData.dtypes == 'object'].tolist()}

sortedData.to_sql(resultname, engine_gres, if_exists='replace', index=False,
                   dtype=to_varchar)

In [35]:
selloutData = pd.read_sql_query('SELECT * FROM mini_result', engine_gres) 
selloutData.head(10)

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,STD,UPPER,LOW,REFINED_QTY,SMOO,STABLE_SEASON,UNSTABLE_SEASON
0,A00,PRODUCT34,201401,661.0,661.0,2014,01,612.500000,69.390201,681.890201,543.109799,661.000000,635.394819,1.040298,1.040298
1,A00,PRODUCT34,201402,679.0,679.0,2014,02,593.200000,73.984458,667.184458,519.215542,667.184458,609.546114,1.113944,1.113944
2,A00,PRODUCT34,201403,578.0,578.0,2014,03,564.833333,95.952940,660.786273,468.880393,578.000000,590.836892,0.978273,0.978273
3,A00,PRODUCT34,201404,532.0,532.0,2014,04,542.285714,105.977536,648.263250,436.308178,532.000000,543.236892,0.979315,0.979315
4,A00,PRODUCT34,201405,516.0,516.0,2014,05,499.857143,109.908187,609.765330,389.948956,516.000000,491.200000,1.050489,1.050489
5,A00,PRODUCT34,201406,423.0,423.0,2014,06,470.000000,76.417712,546.417712,393.582288,423.000000,450.023692,0.939951,0.939951
6,A00,PRODUCT34,201407,407.0,407.0,2014,07,464.285714,68.031155,532.316870,396.254559,407.000000,437.623692,0.930023,0.930023
7,A00,PRODUCT34,201408,364.0,364.0,2014,08,441.000000,68.881541,509.881541,372.118459,372.118459,430.168293,0.846180,0.846180
8,A00,PRODUCT34,201409,470.0,470.0,2014,09,417.571429,66.984718,484.556146,350.586711,470.000000,419.368293,1.120733,1.120733
9,A00,PRODUCT34,201410,538.0,538.0,2014,10,407.714286,71.008718,478.723004,336.705567,478.723004,408.368293,1.317438,1.317438

In [ ]:
# 이후는 Tableau에서 처리