lower_bound
ma
mstd
qty
qty_new
refined_qty
smooth
stable
unstable
upper_bound

In [1]:
# Import
import pandas as pd
import numpy as np
import math
import pandas as pd 
import seaborn as sns
%matplotlib inline

# Data Load

In [47]:
# Data 
#feature_regression_example
#kopo_channel_seasonality_new
#kopo_parameter
#KOPO_DECISION_TREE_ALL_NEW
freData =  pd.read_csv("./dataset/feature_regression_example.csv")
kpData =  pd.read_csv("./dataset/kopo_parameter.csv")
kdtData =  pd.read_csv("./dataset/KOPO_DECISION_TREE_ALL_NEW.csv")

kcsData =  pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")

kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

# 불량데이터 처리

In [48]:
kcsData_minus = kcsData[ (kcsData.QTY.astype(int) < 0) ]
len(kcsData_minus)

323

In [49]:
def refining(df):
    if df['QTY'] < 0:
        return 0
    else:
        return df['QTY']
    
kcsData["QTY_NEW"] = kcsData.apply(refining, axis=1)
kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

# 주차 정보 넣기

In [50]:
kcsData["WEEK"] = kcsData["YEARWEEK"].astype(str).str[4:]
kcsData.sort_values(["YEARWEEK"], ascending=True)
kcsData.head(10)

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW WEEK
0      A60   PRODUCT4    201402     71.0     71.0   02
1      A60  PRODUCT59    201402  22275.0  22275.0   02
2      A60  PRODUCT34    201402   4463.0   4463.0   02
3      A60  PRODUCT47    201402      0.0      0.0   02
4      A60  PRODUCT56    201402     23.0     23.0   02
5      A60  PRODUCT57    201402     14.0     14.0   02
6      A60  PRODUCT12    201402   1186.0   1186.0   02
7      A60   PRODUCT1    201402      7.0      7.0   02
8      A60  PRODUCT33    201402    101.0    101.0   02
9      A60  PRODUCT62    201402    336.0    336.0   02

# 53 주차 제거하기

In [65]:
kcsData.dtypes
kcsData_sel1 = kcsData[(kcsData.WEEK == '53')]
kcsData_sel1.head(3)

      REGIONID    PRODUCT  YEARWEEK     QTY  QTY_NEW WEEK
62075      A64  PRODUCT63    201553  2092.0   2092.0   53
62076      A64  PRODUCT15    201553    80.0     80.0   53
62077      A64   PRODUCT4    201553  1781.0   1781.0   53

In [63]:
kcsData['WEEK']= kcsData['WEEK'].astype(str)
kcsData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
QTY_NEW     float64
WEEK         object
dtype: object

In [68]:
kcsData1 = kcsData.drop(kcsData[kcsData.WEEK == '53'].index, axis=0)

Empty DataFrame
Columns: [REGIONID, PRODUCT, YEARWEEK, QTY, QTY_NEW, WEEK]
Index: []