lower_bound
ma
mstd
qty
qty_new
refined_qty
smooth
stable
unstable
upper_bound

In [1]:
# Import
import pandas as pd
import numpy as np
import math
import pandas as pd 
import seaborn as sns
%matplotlib inline

# Data Load

In [20]:
# Data 
#feature_regression_example
#kopo_channel_seasonality_new
#kopo_parameter
#KOPO_DECISION_TREE_ALL_NEW
freData =  pd.read_csv("./dataset/feature_regression_example.csv")
kpData =  pd.read_csv("./dataset/kopo_parameter.csv")
kdtData =  pd.read_csv("./dataset/KOPO_DECISION_TREE_ALL_NEW.csv")

kcsData =  pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")

kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0

# 불량데이터 처리

In [19]:
kcsData_minus = kcsData[ (kcsData.QTY.astype(int) < 0) ]
len(kcsData_minus)

0

In [21]:
def refining(df):
    if df['QTY'] < 0:
        return 0
    else:
        return df['QTY']
    
kcsData["QTY_NEW"] = kcsData.apply(refining, axis=1)
kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0