# [교재 4-1]

In [2]:
import numpy as np
import pandas as pd

kcsData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
kcsData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

# 실습(ma구하기-일반)

In [38]:
kcsData.columns = kcsData.columns.str.upper()

sortedData = kcsData.sort_values(["REGIONID","PRODUCT"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

sortedData["MA"] = sortedData["QTY"].rolling(window=3,center=False,min_periods=1).mean()
sortedData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY          MA
0      A00  PRODUCT34    201404  532.0  532.000000
1      A00  PRODUCT34    201401  661.0  596.500000
2      A00  PRODUCT34    201402  679.0  624.000000
3      A00  PRODUCT34    201403  578.0  639.333333
4      A00  PRODUCT34    201406  423.0  560.000000

# 실습(ma구하기-고급)

In [35]:
def sub_func(data):
    data["MA2"] = data["QTY"].rolling(window=3,center=True,min_periods=1).mean()
    return data

In [48]:
kcsData.columns = kcsData.columns.str.upper()

sortedData = kcsData.sort_values(["REGIONID","PRODUCT"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

gbData = sortedData.groupby(["REGIONID","PRODUCT"])
len(gbData)

794

In [52]:
eachData = gbData.get_group(list(gbData.groups)[0])
eachData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY
0      A00  PRODUCT34    201404  532.0
1      A00  PRODUCT34    201401  661.0
2      A00  PRODUCT34    201402  679.0
3      A00  PRODUCT34    201403  578.0
4      A00  PRODUCT34    201406  423.0

In [ ]:
gbReault = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func)
gbReault.head(10)

## -함수생성(다른방법)

In [54]:
#basicData = eachData.reset_index(drop=True)
#basicData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY
0      A00  PRODUCT34    201404  532.0
1      A00  PRODUCT34    201401  661.0
2      A00  PRODUCT34    201402  679.0
3      A00  PRODUCT34    201403  578.0
4      A00  PRODUCT34    201406  423.0

In [64]:
def ma_rolling(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["MA"] = basicData["QTY"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData
#bascData.head(2)

In [60]:
len(eachData)

157

In [66]:
period = 17
grResult = sortedData.groupby(["REGIONID","PRODUCT"]).apply(ma_rolling, period)
grResult

                       REGIONID    PRODUCT  YEARWEEK      QTY           MA
REGIONID PRODUCT
A00      PRODUCT34 0        A00  PRODUCT34    201404    532.0   514.444444
                   1        A00  PRODUCT34    201401    661.0   516.800000
                   2        A00  PRODUCT34    201402    679.0   501.818182
                   3        A00  PRODUCT34    201403    578.0   490.750000
                   4        A00  PRODUCT34    201406    423.0   480.230769
                   5        A00  PRODUCT34    201405    516.0   468.214286
                   6        A00  PRODUCT34    201409    470.0   456.666667
                   7        A00  PRODUCT34    201407    407.0   445.875000
                   8        A00  PRODUCT34    201408    364.0   433.588235
                   9        A00  PRODUCT34    201410    538.0   412.882353
                   10       A00  PRODUCT34    201412    352.0   382.235294
                   11       A00  PRODUCT34    201411    369.0   351.764706
                   12       A00  PRODUCT34    201413    354.0   323.529412
                   13       A00  PRODUCT34    201414    312.0   305.470588
                   14       A00  PRODUCT34    201415    295.0   280.000000
                   15       A00  PRODUCT34    201416    284.0   256.529412
                   16       A00  PRODUCT34    201417    237.0   246.941176
                   17       A00  PRODUCT34    201418    180.0   236.352941
                   18       A00  PRODUCT34    201420    140.0   217.352941
                   19       A00  PRODUCT34    201419    161.0   200.294118
                   20       A00  PRODUCT34    201422     98.0   182.117647
                   21       A00  PRODUCT34    201421    116.0   182.705882
                   22       A00  PRODUCT34    201423     83.0   167.235294
                   23       A00  PRODUCT34    201424     71.0   175.352941
                   24       A00  PRODUCT34    201436    244.0   161.882353
                   25       A00  PRODUCT34    201440    184.0   156.823529
                   26       A00  PRODUCT34    201450    215.0   162.352941
                   27       A00  PRODUCT34    201520     62.0   165.352941
                   28       A00  PRODUCT34    201426     60.0   163.058824
                   29       A00  PRODUCT34    201433    364.0   159.588235
...                         ...        ...       ...      ...          ...
A77      PRODUCT12 127      A77  PRODUCT12    201626   4815.0  4580.176471
                   128      A77  PRODUCT12    201632   5863.0  4448.647059
                   129      A77  PRODUCT12    201617   3421.0  4369.588235
                   130      A77  PRODUCT12    201648   4152.0  4612.235294
                   131      A77  PRODUCT12    201650   5846.0  4585.882353
                   132      A77  PRODUCT12    201647   3574.0  4541.235294
                   133      A77  PRODUCT12    201628   3319.0  4514.352941
                   134      A77  PRODUCT12    201612   3576.0  4473.176471
                   135      A77  PRODUCT12    201604   5044.0  4402.058824
                   136      A77  PRODUCT12    201644   4109.0  4427.058824
                   137      A77  PRODUCT12    201636   3742.0  4948.882353
                   138      A77  PRODUCT12    201614   7854.0  4911.176471
                   139      A77  PRODUCT12    201613   4058.0  4941.000000
                   140      A77  PRODUCT12    201620   3496.0  4833.000000
                   141      A77  PRODUCT12    201610   4731.0  4951.176471
                   142      A77  PRODUCT12    201609   4233.0  4967.882353
                   143      A77  PRODUCT12    201637   3002.0  5023.352941
                   144      A77  PRODUCT12    201547   5240.0  4979.117647
                   145      A77  PRODUCT12    201639  14734.0  5156.235294
                   146      A77  PRODUCT12    201618   2780.0  5149.294118
                   147      A77  PRODUCT12    201616   4659.0  4923.705882
                   148      A77  PRODUCT12    201641   4010.0  4861.588235
                   149      A77  PRODUCT12    201638   5583.0  4946.937500
                   150      A77  PRODUCT12    201640   3603.0  4961.333333
                   151      A77  PRODUCT12    201548   4519.0  5013.357143
                   152      A77  PRODUCT12    201642   4292.0  5168.076923
                   153      A77  PRODUCT12    201630   7120.0  5162.083333
                   154      A77  PRODUCT12    201635   3624.0  4291.909091
                   155      A77  PRODUCT12    201634   4019.0  4443.100000
                   156      A77  PRODUCT12    201627   3002.0  4419.111111

[124658 rows x 5 columns]

# 계절성 산출

In [78]:
grResult["RATIO"] = grResult["QTY"]/grResult["MA"]
grResult["WEEK"] = grResult["YEARWEEK"].astype(str).str[4:]
grResult.sort_values(["YEARWEEK"])

,,,REGIONID,PRODUCT,YEARWEEK,QTY,MA,RATIO,WEEK
REGIONID,PRODUCT,,,,,,,,
A05,PRODUCT16,1,A05,PRODUCT16,201401,338.0,324.500000,1.041602,01
A17,PRODUCT15,0,A17,PRODUCT15,201401,346.0,319.888889,1.081626,01
A57,PRODUCT4,0,A57,PRODUCT4,201401,52.0,65.000000,0.800000,01
A40,PRODUCT40,1,A40,PRODUCT40,201401,26.0,58.700000,0.442930,01
A24,PRODUCT16,0,A24,PRODUCT16,201401,56.0,33.000000,1.696970,01
A32,PRODUCT12,0,A32,PRODUCT12,201401,3798.0,5416.444444,0.701198,01
A13,PRODUCT63,0,A13,PRODUCT63,201401,212.0,214.333333,0.989114,01
A18,PRODUCT47,0,A18,PRODUCT47,201401,47.0,62.222222,0.755357,01
A50,PRODUCT33,0,A50,PRODUCT33,201401,522.0,479.333333,1.089013,01
A01,PRODUCT15,0,A01,PRODUCT15,201401,5684.0,4332.555556,1.311928,01
A32,PRODUCT1,0,A32,PRODUCT1,201401,212.0,221.444444,0.957351,01
A13,PRODUCT64,0,A13,PRODUCT64,201401,0.0,0.000000,NaN,01
A05,PRODUCT56,1,A05,PRODUCT56,201401,1137.0,785.100000,1.448223,01
A17,PRODUCT14,0,A17,PRODUCT14,201401,14.0,29.222222,0.479087,01
A03,PRODUCT56,1,A03,PRODUCT56,201401,152.0,158.300000,0.960202,01
A13,PRODUCT60,0,A13,PRODUCT60,201401,67.0,108.666667,0.616564,01
A25,PRODUCT47,0,A25,PRODUCT47,201401,3.0,7.333333,0.409091,01
A06,PRODUCT59,0,A06,PRODUCT59,201401,30049.0,32237.777778,0.932105,01
A58,PRODUCT59,1,A58,PRODUCT59,201401,8747.0,8344.800000,1.048198,01
A13,PRODUCT74,0,A13,PRODUCT74,201401,0.0,0.000000,NaN,01
A21,PRODUCT15,0,A21,PRODUCT15,201401,41.0,164.666667,0.248988,01
A23,PRODUCT34,0,A23,PRODUCT34,201401,834.0,1281.777778,0.650659,01
A08,PRODUCT63,2,A08,PRODUCT63,201401,1467.0,1064.727273,1.377818,01
A50,PRODUCT34,0,A50,PRODUCT34,201401,247.0,254.000000,0.972441,01
A52,PRODUCT15,0,A52,PRODUCT15,201401,366.0,206.222222,1.774784,01
A01,PRODUCT7,0,A01,PRODUCT7,201401,1153.0,983.888889,1.171880,01
A31,PRODUCT58,1,A31,PRODUCT58,201401,0.0,0.000000,NaN,01
A40,PRODUCT47,1,A40,PRODUCT47,201401,0.0,0.300000,0.000000,01
A43,PRODUCT60,0,A43,PRODUCT60,201401,142.0,89.777778,1.581683,01
A14,PRODUCT1,0,A14,PRODUCT1,201401,261.0,205.666667,1.269044,01
...,...,...,...,...,...,...,...,...,...
A39,PRODUCT7,115,A39,PRODUCT7,201652,67.0,176.352941,0.379920,52
A16,PRODUCT15,128,A16,PRODUCT15,201652,39.0,330.764706,0.117909,52
A07,PRODUCT40,129,A07,PRODUCT40,201652,4.0,5.470588,0.731183,52
A19,PRODUCT34,127,A19,PRODUCT34,201652,458.0,748.529412,0.611866,52
A62,PRODUCT40,117,A62,PRODUCT40,201652,1.0,2.823529,0.354167,52
A47,PRODUCT59,115,A47,PRODUCT59,201652,204890.0,223950.529412,0.914890,52
A02,PRODUCT1,126,A02,PRODUCT1,201652,66.0,118.176471,0.558487,52
A07,PRODUCT56,128,A07,PRODUCT56,201652,76.0,48.352941,1.571776,52
A39,PRODUCT67,115,A39,PRODUCT67,201652,0.0,3.647059,0.000000,52
A25,PRODUCT56,127,A25,PRODUCT56,201652,349.0,199.470588,1.749631,52
A07,PRODUCT57,128,A07,PRODUCT57,201652,188.0,96.000000,1.958333,52
A39,PRODUCT66,115,A39,PRODUCT66,201652,0.0,31.823529,0.000000,52
A16,PRODUCT14,127,A16,PRODUCT14,201652,288.0,133.352941,2.159682,52
A39,PRODUCT60,116,A39,PRODUCT60,201652,91.0,109.470588,0.831274,52
A25,PRODUCT57,128,A25,PRODUCT57,201652,5400.0,2645.647059,2.041089,52
A65,PRODUCT47,127,A65,PRODUCT47,201652,242.0,40.882353,5.919424,52
A07,PRODUCT58,129,A07,PRODUCT58,201652,127.0,225.058824,0.564297,52
A16,PRODUCT12,127,A16,PRODUCT12,201652,71767.0,34743.470588,2.065626,52
A69,PRODUCT59,127,A69,PRODUCT59,201652,14097.0,13450.647059,1.048054,52
A57,PRODUCT57,117,A57,PRODUCT57,201652,2.0,6.235294,0.320755,52
A07,PRODUCT59,129,A07,PRODUCT59,201652,27171.0,20622.294118,1.317555,52
A59,PRODUCT56,119,A59,PRODUCT56,201652,11.0,12.000000,0.916667,52
A16,PRODUCT1,127,A16,PRODUCT1,201652,26.0,168.882353,0.153953,52
A39,PRODUCT61,116,A39,PRODUCT61,201652,0.0,0.058824,0.000000,52
A07,PRODUCT60,129,A07,PRODUCT60,201652,665.0,442.529412,1.502725,52
A48,PRODUCT1,116,A48,PRODUCT1,201652,5745.0,8431.705882,0.681357,52
A25,PRODUCT58,126,A25,PRODUCT58,201652,100.0,464.823529,0.215135,52
A19,PRODUCT58,127,A19,PRODUCT58,201652,500.0,622.411765,0.803327,52
A39,PRODUCT63,114,A39,PRODUCT63,201652,876.0,352.176471,2.487389,52
A65,PRODUCT57,127,A65,PRODUCT57,201652,378.0,110.352941,3.425373,52

# 실습(std구하기-고급)

In [50]:
def sub_func(data):
    data["STD"] = data["QTY"].rolling(window=3,center=True,min_periods=1).std()
    return data

In [51]:
sortedData = kcsData.sort_values(["REGIONID","PRODUCT"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

gbReault = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func)
gbReault.head(10)

  REGIONID    PRODUCT  YEARWEEK    QTY         STD
0      A00  PRODUCT34    201404  532.0   91.216775
1      A00  PRODUCT34    201401  661.0   80.181045
2      A00  PRODUCT34    201402  679.0   53.873308
3      A00  PRODUCT34    201403  578.0  128.945725
4      A00  PRODUCT34    201406  423.0   78.014956
5      A00  PRODUCT34    201405  516.0   46.500896
6      A00  PRODUCT34    201409  470.0   54.720502
7      A00  PRODUCT34    201407  407.0   53.313538
8      A00  PRODUCT34    201408  364.0   90.632959
9      A00  PRODUCT34    201410  538.0  104.096109