# 데이터불러오기 및 CSV파일로 저장

In [11]:
import pandas as pd

In [21]:
test = pd.read_csv("./dataset/kopo_region_mst.csv", encoding="ms949").head()
test

  REGIONID REGIONNAME
0      A00     AFRICA
1      A01    AMERICA
2      A02      KOREA
3      A03     GERMAN
4      A04     BRAZIL

In [16]:
test.to_csv("./dataset/test3.csv", encoding="ms949")