lower_bound
ma
mstd
qty
qty_new
refined_qty
smooth
stable
unstable
upper_bound

In [5]:
# Import
import pandas as pd
import numpy as np
import math
import pandas as pd 
import seaborn as sns
%matplotlib inline

import pandas as pd
from sqlalchemy import create_engine

# Data Load

In [8]:
engine_gres = create_engine('postgresql://postgres:admin@10.184.9.185:5432/postgres')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM test_amt_table', engine_gres) 
selloutData.head(10)

selloutData.columns = selloutData.columns.astype(str).str.lower()
selloutData.head()

OperationalError: (psycopg2.OperationalError) FATAL:  sorry, too many clients already
 (Background on this error at: http://sqlalche.me/e/e3q8)

# 0 데이터 처리

In [4]:
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

In [5]:
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0,
                                 0, selloutData["QTY"])

In [6]:
selloutData["WEEK"] = selloutData["YEARWEEK"].astype(str).str[4:]

In [7]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY WEEK
0      A60   PRODUCT4    201402     71.0     71.0   02
1      A60  PRODUCT59    201402  22275.0  22275.0   02
2      A60  PRODUCT34    201402   4463.0   4463.0   02
3      A60  PRODUCT47    201402      0.0      0.0   02
4      A60  PRODUCT56    201402     23.0     23.0   02

In [8]:
selloutData[ selloutData["QTY"] < 0 ]

       REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY WEEK
65          A02  PRODUCT16    201403   -1.0      0.0   03
338         A08  PRODUCT36    201402   -1.0      0.0   02
1270        A14  PRODUCT36    201405   -1.0      0.0   05
1616        A17  PRODUCT60    201402   -1.0      0.0   02
2035        A39   PRODUCT7    201404  -12.0      0.0   04
2378        A39   PRODUCT7    201402   -1.0      0.0   02
2880        A39   PRODUCT7    201405   -5.0      0.0   05
2997        A18  PRODUCT36    201403   -1.0      0.0   03
4483        A13  PRODUCT15    201406   -2.0      0.0   06
4865        A23   PRODUCT1    201405   -1.0      0.0   05
4971        A13  PRODUCT15    201408   -1.0      0.0   08
5274        A13  PRODUCT15    201410   -1.0      0.0   10
5362        A13  PRODUCT15    201407   -1.0      0.0   07
5628        A16  PRODUCT68    201407   -1.0      0.0   07
5801        A01  PRODUCT60    201409   -2.0      0.0   09
5940        A11  PRODUCT56    201407   -1.0      0.0   07
6048        A60  PRODUCT47    201407   -1.0      0.0   07
6224        A45  PRODUCT47    201407   -1.0      0.0   07
6479        A14  PRODUCT36    201409   -1.0      0.0   09
6597        A56  PRODUCT14    201409   -1.0      0.0   09
7277        A60   PRODUCT1    201408   -1.0      0.0   08
7553        A13  PRODUCT15    201411   -1.0      0.0   11
7956        A51  PRODUCT47    201411   -1.0      0.0   11
8961        A13  PRODUCT15    201413   -1.0      0.0   13
9357        A05  PRODUCT17    201413   -1.0      0.0   13
10444       A60  PRODUCT47    201414   -1.0      0.0   14
11772       A01   PRODUCT6    201416   -1.0      0.0   16
11786       A01  PRODUCT60    201416   -1.0      0.0   16
11852       A16  PRODUCT68    201416   -1.0      0.0   16
11903       A10  PRODUCT61    201415   -1.0      0.0   15
...         ...        ...       ...    ...      ...  ...
116838      A01   PRODUCT6    201611 -364.0      0.0   11
116852      A01  PRODUCT60    201611   -1.0      0.0   11
117303      A02  PRODUCT60    201614   -1.0      0.0   14
117319      A48  PRODUCT61    201616   -1.0      0.0   16
117854      A32  PRODUCT14    201616   -2.0      0.0   16
118367      A39  PRODUCT66    201640   -1.0      0.0   40
118368      A39  PRODUCT37    201640   -1.0      0.0   40
118369      A39  PRODUCT50    201640   -1.0      0.0   40
118815      A08  PRODUCT15    201613   -1.0      0.0   13
118884      A62  PRODUCT56    201615  -13.0      0.0   15
119360      A02  PRODUCT60    201637   -1.0      0.0   37
119696      A18  PRODUCT15    201639   -2.0      0.0   39
120075      A14  PRODUCT40    201544   -1.0      0.0   44
120132      A17  PRODUCT60    201544   -1.0      0.0   44
120836      A13   PRODUCT5    201602   -1.0      0.0   02
120995      A03   PRODUCT6    201643  -24.0      0.0   43
121775      A59  PRODUCT47    201633   -1.0      0.0   33
122190      A02  PRODUCT60    201633   -1.0      0.0   33
122233      A16  PRODUCT68    201635   -1.0      0.0   35
122285      A09  PRODUCT61    201635   -1.0      0.0   35
122504      A02  PRODUCT60    201632   -1.0      0.0   32
123294      A13   PRODUCT5    201631   -2.0      0.0   31
123632      A32  PRODUCT14    201629   -2.0      0.0   29
123639      A13   PRODUCT5    201628   -2.0      0.0   28
123665      A39  PRODUCT76    201628  -13.0      0.0   28
123677      A39  PRODUCT25    201628   -1.0      0.0   28
123957      A39  PRODUCT50    201627   -1.0      0.0   27
123970      A39  PRODUCT25    201627   -1.0      0.0   27
124148      A13   PRODUCT5    201648   -6.0      0.0   48
124532      A32  PRODUCT14    201627   -2.0      0.0   27

[323 rows x 6 columns]

In [9]:
selloutData[ (selloutData["QTY"] < 0) & 
             (selloutData["REGIONID"] == "A02") ]

       REGIONID    PRODUCT  YEARWEEK  QTY  NEW_QTY WEEK
65          A02  PRODUCT16    201403 -1.0      0.0   03
30171       A02  PRODUCT60    201517 -3.0      0.0   17
47221       A02  PRODUCT16    201450 -2.0      0.0   50
54719       A02   PRODUCT6    201442 -1.0      0.0   42
60311       A02  PRODUCT60    201540 -1.0      0.0   40
60482       A02  PRODUCT60    201623 -1.0      0.0   23
61044       A02  PRODUCT60    201546 -1.0      0.0   46
62858       A02  PRODUCT60    201620 -1.0      0.0   20
69526       A02  PRODUCT60    201618 -1.0      0.0   18
71873       A02  PRODUCT60    201607 -2.0      0.0   07
74280       A02  PRODUCT60    201621 -1.0      0.0   21
87535       A02  PRODUCT60    201606 -1.0      0.0   06
91969       A02  PRODUCT60    201627 -1.0      0.0   27
93563       A02  PRODUCT60    201645 -2.0      0.0   45
95560       A02  PRODUCT60    201646 -1.0      0.0   46
96815       A02  PRODUCT60    201634 -1.0      0.0   34
97749       A02  PRODUCT60    201630 -1.0      0.0   30
103008      A02  PRODUCT60    201610 -1.0      0.0   10
105364      A02  PRODUCT60    201631 -1.0      0.0   31
114839      A02  PRODUCT60    201615 -1.0      0.0   15
116458      A02  PRODUCT60    201636 -3.0      0.0   36
117303      A02  PRODUCT60    201614 -1.0      0.0   14
119360      A02  PRODUCT60    201637 -1.0      0.0   37
122190      A02  PRODUCT60    201633 -1.0      0.0   33
122504      A02  PRODUCT60    201632 -1.0      0.0   32

In [10]:
kcsData_minus = kcsData[ (kcsData.QTY.astype(int) < 0) ]
len(kcsData_minus)

323

In [11]:
def refining(df):
    if df['QTY'] < 0:
        return 0
    else:
        return df['QTY']
    
kcsData["QTY_NEW"] = kcsData.apply(refining, axis=1)
kcsData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

# 연도 및 주차 정보 넣기

In [12]:
kcsData["YEAR"] = kcsData["YEARWEEK"].astype(str).str[0:4]
kcsData.sort_values(["YEARWEEK"], ascending=True)
kcsData.head(10)

kcsData["WEEK"] = kcsData["YEARWEEK"].astype(str).str[4:]
kcsData.sort_values(["YEARWEEK"], ascending=True)
kcsData.head(10)

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4    201402     71.0     71.0  2014   02
1      A60  PRODUCT59    201402  22275.0  22275.0  2014   02
2      A60  PRODUCT34    201402   4463.0   4463.0  2014   02
3      A60  PRODUCT47    201402      0.0      0.0  2014   02
4      A60  PRODUCT56    201402     23.0     23.0  2014   02
5      A60  PRODUCT57    201402     14.0     14.0  2014   02
6      A60  PRODUCT12    201402   1186.0   1186.0  2014   02
7      A60   PRODUCT1    201402      7.0      7.0  2014   02
8      A60  PRODUCT33    201402    101.0    101.0  2014   02
9      A60  PRODUCT62    201402    336.0    336.0  2014   02

# 53 주차 제거하기

In [13]:
kcsData.dtypes
kcsData_sel1 = kcsData[(kcsData.WEEK == '53')]
kcsData_sel1.head(3)

      REGIONID    PRODUCT  YEARWEEK     QTY  QTY_NEW  YEAR WEEK
62075      A64  PRODUCT63    201553  2092.0   2092.0  2015   53
62076      A64  PRODUCT15    201553    80.0     80.0  2015   53
62077      A64   PRODUCT4    201553  1781.0   1781.0  2015   53

In [14]:
kcsData['WEEK']= kcsData['WEEK'].astype(str)
kcsData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
QTY_NEW     float64
YEAR         object
WEEK         object
dtype: object

In [15]:
kcsData = kcsData.drop(kcsData[kcsData.WEEK == '53'].index, axis=0)

# 이동평균 구하기

In [16]:
sortedData = kcsData.sort_values(["REGIONID","PRODUCT","YEARWEEK"])
sortedData.reset_index(inplace=True, drop=True)
sortedData.head()

period = 7

In [17]:
def ma_rolling(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["MA"] = basicData["QTY_NEW"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData
#bascData.head(2)
sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(ma_rolling, period)
sortedData.head(3)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03

                              MA
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000
                   1  593.200000
                   2  564.833333

# 표준편차 구하기

In [18]:
def sub_func(data, term):
    data["STD"] = data["QTY_NEW"].rolling(window=term,center=True,min_periods=1).std()
    return data

sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(sub_func, period)
sortedData.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201
                   1  593.200000   73.984458
                   2  564.833333   95.952940
                   3  542.285714  105.977536
                   4  499.857143  109.908187
                   5  470.000000   76.417712
                   6  464.285714   68.031155
                   7  441.000000   68.881541
                   8  417.571429   66.984718
                   9  407.714286   71.008718

# UPPER/LOW BOUND

In [19]:
sortedData["UPPER"] = sortedData["MA"].astype(float) +  sortedData["STD"].astype(float)
sortedData["LOW"] = sortedData["MA"].astype(float) -  sortedData["STD"].astype(float)
sortedData.head(3)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03

                              MA        STD       UPPER         LOW
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000  69.390201  681.890201  543.109799
                   1  593.200000  73.984458  667.184458  519.215542
                   2  564.833333  95.952940  660.786273  468.880393

# 값 대체

In [20]:
sortedData["REFINED_QTY"] =  np.where(sortedData["QTY_NEW"] < sortedData["LOW"], sortedData["LOW"],\
                           np.where(sortedData["QTY_NEW"] > sortedData["UPPER"], sortedData["UPPER"],\
                           sortedData["QTY_NEW"],\
                                ))
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000
                   1   667.184458
                   2   578.000000
                   3   532.000000
                   4   516.000000
                   5   423.000000
                   6   407.000000
                   7   372.118459
                   8   470.000000
                   9   478.723004

# 스무딩

In [21]:
speriod = 5
def smooth(eachData, term):
    basicData = eachData.reset_index(drop=True)
    basicData["SMOO"] = basicData["REFINED_QTY"].rolling(window=term,center=True,min_periods=1).mean()
    return basicData

sortedData = sortedData.groupby(["REGIONID","PRODUCT"]).apply(smooth, speriod)
sortedData.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  import sys

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03

                              MA        STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000  69.390201  681.890201  543.109799
                   1  593.200000  73.984458  667.184458  519.215542
                   2  564.833333  95.952940  660.786273  468.880393

                      REFINED_QTY        SMOO
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819
                   1   667.184458  609.546114
                   2   578.000000  590.836892

# 계절성 지수(안정/불안)

In [22]:
# 안정
sortedData["STABLE_SEASON"] =  sortedData["QTY"]/sortedData["SMOO"]
                           
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY        SMOO  STABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298
                   1   667.184458  609.546114       1.113944
                   2   578.000000  590.836892       0.978273
                   3   532.000000  543.236892       0.979315
                   4   516.000000  491.200000       1.050489
                   5   423.000000  450.023692       0.939951
                   6   407.000000  437.623692       0.930023
                   7   372.118459  430.168293       0.846180
                   8   470.000000  419.368293       1.120733
                   9   478.723004  408.368293       1.317438

In [23]:
# 불안정
sortedData["UNSTABLE_SEASON"] =  sortedData["QTY_NEW"]/sortedData["SMOO"]
                           
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY        SMOO  STABLE_SEASON  UNSTABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298         1.040298
                   1   667.184458  609.546114       1.113944         1.113944
                   2   578.000000  590.836892       0.978273         0.978273
                   3   532.000000  543.236892       0.979315         0.979315
                   4   516.000000  491.200000       1.050489         1.050489
                   5   423.000000  450.023692       0.939951         0.939951
                   6   407.000000  437.623692       0.930023         0.930023
                   7   372.118459  430.168293       0.846180         0.846180
                   8   470.000000  419.368293       1.120733         1.120733
                   9   478.723004  408.368293       1.317438         1.317438

In [24]:
sortedData.head(10)

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05
                   5      A00  PRODUCT34    201406  423.0    423.0  2014   06
                   6      A00  PRODUCT34    201407  407.0    407.0  2014   07
                   7      A00  PRODUCT34    201408  364.0    364.0  2014   08
                   8      A00  PRODUCT34    201409  470.0    470.0  2014   09
                   9      A00  PRODUCT34    201410  538.0    538.0  2014   10

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956
                   5  470.000000   76.417712  546.417712  393.582288
                   6  464.285714   68.031155  532.316870  396.254559
                   7  441.000000   68.881541  509.881541  372.118459
                   8  417.571429   66.984718  484.556146  350.586711
                   9  407.714286   71.008718  478.723004  336.705567

                      REFINED_QTY        SMOO  STABLE_SEASON  UNSTABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298         1.040298
                   1   667.184458  609.546114       1.113944         1.113944
                   2   578.000000  590.836892       0.978273         0.978273
                   3   532.000000  543.236892       0.979315         0.979315
                   4   516.000000  491.200000       1.050489         1.050489
                   5   423.000000  450.023692       0.939951         0.939951
                   6   407.000000  437.623692       0.930023         0.930023
                   7   372.118459  430.168293       0.846180         0.846180
                   8   470.000000  419.368293       1.120733         1.120733
                   9   478.723004  408.368293       1.317438         1.317438

# DB 저장(PostGres)

In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [26]:
# DB:PW, pip install psycopg2
engine_gres = create_engine('postgresql://postgres:admin@10.184.9.185:5432/postgres')

In [30]:
sortedData.columns = sortedData.columns.astype(str).str.upper()
sortedData.head()

                     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR WEEK  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34    201401  661.0    661.0  2014   01
                   1      A00  PRODUCT34    201402  679.0    679.0  2014   02
                   2      A00  PRODUCT34    201403  578.0    578.0  2014   03
                   3      A00  PRODUCT34    201404  532.0    532.0  2014   04
                   4      A00  PRODUCT34    201405  516.0    516.0  2014   05

                              MA         STD       UPPER         LOW  \
REGIONID PRODUCT
A00      PRODUCT34 0  612.500000   69.390201  681.890201  543.109799
                   1  593.200000   73.984458  667.184458  519.215542
                   2  564.833333   95.952940  660.786273  468.880393
                   3  542.285714  105.977536  648.263250  436.308178
                   4  499.857143  109.908187  609.765330  389.948956

                      REFINED_QTY        SMOO  STABLE_SEASON  UNSTABLE_SEASON
REGIONID PRODUCT
A00      PRODUCT34 0   661.000000  635.394819       1.040298         1.040298
                   1   667.184458  609.546114       1.113944         1.113944
                   2   578.000000  590.836892       0.978273         0.978273
                   3   532.000000  543.236892       0.979315         0.979315
                   4   516.000000  491.200000       1.050489         1.050489

In [31]:
from sqlalchemy import types

In [33]:
# 데이터 저장
resultname='mini_result'
to_varchar = {c:types.VARCHAR(sortedData[c].str.len().max()) \
        for c in sortedData.columns[sortedData.dtypes == 'object'].tolist()}

sortedData.to_sql(resultname, engine_gres, if_exists='replace', index=False,
                   dtype=to_varchar)

In [35]:
selloutData = pd.read_sql_query('SELECT * FROM mini_result', engine_gres) 
selloutData.head(10)

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,STD,UPPER,LOW,REFINED_QTY,SMOO,STABLE_SEASON,UNSTABLE_SEASON
0,A00,PRODUCT34,201401,661.0,661.0,2014,01,612.500000,69.390201,681.890201,543.109799,661.000000,635.394819,1.040298,1.040298
1,A00,PRODUCT34,201402,679.0,679.0,2014,02,593.200000,73.984458,667.184458,519.215542,667.184458,609.546114,1.113944,1.113944
2,A00,PRODUCT34,201403,578.0,578.0,2014,03,564.833333,95.952940,660.786273,468.880393,578.000000,590.836892,0.978273,0.978273
3,A00,PRODUCT34,201404,532.0,532.0,2014,04,542.285714,105.977536,648.263250,436.308178,532.000000,543.236892,0.979315,0.979315
4,A00,PRODUCT34,201405,516.0,516.0,2014,05,499.857143,109.908187,609.765330,389.948956,516.000000,491.200000,1.050489,1.050489
5,A00,PRODUCT34,201406,423.0,423.0,2014,06,470.000000,76.417712,546.417712,393.582288,423.000000,450.023692,0.939951,0.939951
6,A00,PRODUCT34,201407,407.0,407.0,2014,07,464.285714,68.031155,532.316870,396.254559,407.000000,437.623692,0.930023,0.930023
7,A00,PRODUCT34,201408,364.0,364.0,2014,08,441.000000,68.881541,509.881541,372.118459,372.118459,430.168293,0.846180,0.846180
8,A00,PRODUCT34,201409,470.0,470.0,2014,09,417.571429,66.984718,484.556146,350.586711,470.000000,419.368293,1.120733,1.120733
9,A00,PRODUCT34,201410,538.0,538.0,2014,10,407.714286,71.008718,478.723004,336.705567,478.723004,408.368293,1.317438,1.317438

In [ ]:
# 이후는 Tableau에서 처리