In [1]:
# upload Data to DB

In [23]:
import pandas as pd
from sqlalchemy import create_engine

# csv 파일을 읽어 DaaFream 변수에 저장하기
customerData = pd.read_csv("./dataset/customerdata.csv")
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [30]:
# engine = create_engine ('oracle+cx_oracle://HKCJ:HKCJ@10.184.9.185:1521/xe')
#engine = create_engine ('oracle+cx_oracle://HKCJ:HKCJ@10.184.8.208:1521/xe')
engine = create_engine ('oracle+cx_oracle://HKCJ:HKCJ@10.184.9.64:1521/xe')
engine

Engine(oracle+cx_oracle://HKCJ:***@10.184.9.64:1521/xe)

In [31]:
# 데이터 저장
resultname = 'customerdata1'

In [32]:
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

In [33]:
customerData.dtypes
# object 타입은 오라클의 경우 CLOB으로 타입이 넘어간다

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object